/* Colors */

/*
60% of #1D4036 -Primary
30% of #8d52ad -Secondary
10% of #ad8d52 -Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #1D4036;

/* var(--secondaryColor) !important; */
--secondaryColor: #8d52ad;

/* var(--accentColor) !important; */
--accentColor: #ad8d52;
}