@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');



/* Colors */

/*
60% of #1D4036 -Primary
30% of #8d52ad -Secondary
10% of #ad8d52 -Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #1D4036;

/* var(--secondaryColor) !important; */
--secondaryColor: #8d52ad;

/* var(--accentColor) !important; */
--accentColor: #65532F;
/*Old accent color: ad8d52*/

/* var(--fontFamily) !important; */
--fontFamily: "Atkinson Hyperlegible Next", serif;

}