@import 'global.css';
@import 'main.css';

p {
    font-family: var(--fontFamily) !important;
}

.blinn-fa-icon {
    font-size: 60px;
    color: #fff;
}

.blinn-fa-container {
    background-color: var(--accentColor) !important;
    padding: 50px;
}


.Paragraph-one-img {
    position: relative;
    float: right;
    max-width: 350px;
    width: 100%;
    height: auto;
}